@if (addTaskButtonClicked) {
    <app-added-task (cancel)="clickedCancelOnDialog()" (add)="onAddTask($event)"></app-added-task>
}

<div>
  <section id="tasks">
    <header>
      <h2>{{taskName}}'s Tasks</h2>
      <menu>
        <button (click)="addTask()">Add Task</button>
      </menu>
    </header>

    <ul>
      @for ( task of selectedUsersTask; track task.userId){
      <li>
        <app-task
        [task]="task"
        (userToBeDeleted)="deleteThisUser($event)"
        ></app-task>
      </li>
      }
    </ul>

  </section>
</div>
